process {

    // Define the default process resources
    executor = 'local'
    cpus      = 1
    memory    = '10 GB'

    // Define the specific process resources
    
    withLabel: 'STAR' {
        cpus   = 20
        memory = '60 GB'
    }

    withLabel: 'GSNAP' {
        cpus   = 20
        memory = '60 GB'
    }

    withLabel: 'ASElux' {
        cpus = 1
        memory = '120 GB'
    }

    withLabel: 'gatk' {
        cpus   = 1
        memory = '60 GB'
    }

    withName: 'trimmomatic' {
        cpus   = 20
        memory = '20 GB'
    }

    withLabel: 'ngsutils' {
        cpus   = 10
        memory = '20 GB'
    }

    withLabel: 'py_parallel' {
        cpus   = 20
        memory = '20 GB'
    }
}


// cluster and docker/singularity profiles

profiles {
    
    test {
        // test
        paramsFile = 'test_data/params.test.yaml'

        process {
            cpus      = 2
            memory    = '10 GB'
        }
    }

    lh {
        process {
            // Change this according to your environment
            executor        = 'slurm'
            scratch         = false
            clusterOptions  = "--account=brcf_bfx_project"
            queue           = 'brcf_bfx_project'
            time            = '240h'
        }
    }


    gl {
        process {
            // Change this according to your environment
            executor        = 'slurm'
            scratch         = false
            clusterOptions  = "--account=bis0"
            queue           = 'standard'
            time            = '240h'
        } 
    } 

    docker {
        docker {
          enabled = true
          autoMounts = true
      }
    }

    singularity {
        singularity {
          enabled = true
          autoMounts = true
      }
    }
}


// container sources

process {
        withLabel:fastqc {container = 'quay.io/biocontainers/fastqc:0.12.1--hdfd78af_0'}
        withLabel:multiqc {container = 'quay.io/biocontainers/multiqc:1.28--pyhdfd78af_0'}
        withName:gtf_to_refflat {container = 'quay.io/biocontainers/ucsc-gtftogenepred:469--h664eb37_1'}
        withLabel:trimmomatic {container = 'quay.io/biocontainers/trimmomatic:0.39--1'}
        withLabel:'STAR' {container = 'quay.io/biocontainers/star:2.7.11b--h5ca1c30_5'}
        withLabel:'GSNAP' {container = 'quay.io/biocontainers/gmap:2024.11.20--pl5321hb1d24b7_3'}
        withLabel:'ASElux' {container = 'weishwu/aselux:v1.0.2-beta'}
        withLabel:'vcf2diploid' {container = 'weishwu/vcf2diploid:v0.2.6'}
        withLabel:'ngsutils' {container = 'docker://weishwu/ngsutils:0.5.9'}
        withLabel:'gatk' {container = 'quay.io/biocontainers/gatk4:4.6.1.0--py310hdfd78af_0'}
        withLabel:'pandas' {container = 'weishwu/pandas:04012025'}
        withLabel:'bedtools' {container = 'weishwu/bedtools:v2.27.1'}
        withLabel:'rplot' {container = 'weishwu/rplot:04062025'}
}

