process {

    // Define the default process resources
    cpus      = 1
    memory    = '10 GB'

    // Define the specific process resources
    
    withLabel: 'STAR' {
        cpus   = 20
        memory = '60 GB'
    }

    withLabel: 'GSNAP' {
        cpus   = 20
        memory = '60 GB'
    }

    withLabel: 'ASElux' {
        cpus = 1
        memory = '120 GB'
    }

    withLabel: 'gatk' {
        cpus   = 1
        memory = '60 GB'
    }

    withName: 'trimmomatic' {
        cpus   = 20
        memory = '20 GB'
    }

    withLabel: 'ngsutils' {
        cpus   = 10
        memory = '20 GB'
    }

    withLabel: 'py_parallel' {
        cpus   = 20
        memory = '20 GB'
    }
}

includeConfig 'env.config'
includeConfig 'containers.config'

