process {
        withLabel:fastqc {container = 'quay.io/biocontainers/fastqc:0.12.1--hdfd78af_0'}
        withLabel:multiqc {container = 'quay.io/biocontainers/multiqc:1.28--pyhdfd78af_0'}
        withName:gtf_to_refflat {container = 'quay.io/biocontainers/ucsc-gtftogenepred:469--h664eb37_1'}
        withLabel:trimmomatic {container = 'quay.io/biocontainers/trimmomatic:0.39--1'}
        withLabel:'STAR' {container = 'quay.io/biocontainers/star:2.7.11b--h5ca1c30_5'}
        withLabel:'GSNAP' {container = 'quay.io/biocontainers/gmap:2024.11.20--pl5321hb1d24b7_3'}
        withLabel:'ASElux' {container = 'weishwu/aselux:v1.0.2-beta'}
        withLabel:'vcf2diploid' {container = 'weishwu/vcf2diploid:v0.2.6'}
        withLabel:'ngsutils' {container = 'docker://weishwu/ngsutils:0.5.9'}
        withLabel:'gatk' {container = 'quay.io/biocontainers/gatk4:4.6.1.0--py310hdfd78af_0'}
        withLabel:'pandas' {container = 'weishwu/pandas:04012025'}
        withLabel:'bedtools' {container = 'weishwu/bedtools:v2.27.1'}
        withLabel:'rplot' {container = 'weishwu/rplot:04062025'}
}
