process {

    // Define the default process resources

    cpus      = 1
    memory    = '4 GB'

    // Define the specific process resources
    
    withLabel: 'STAR' {
        cpus   = 2
        memory = '4 GB'
    }

    withLabel: 'GSNAP' {
        cpus   = 2
        memory = '4 GB'
    }

    withLabel: 'ASElux' {
        cpus = 1
        memory = '4 GB'
    }

    withLabel: 'gatk' {
        cpus   = 1
        memory = '10 GB'
    }

    withName: 'trimmomatic' {
        cpus   = 2
        memory = '4 GB'
    }

    withLabel: 'ngsutils' {
        cpus   = 2
        memory = '4 GB'
    }

    withLabel: 'py_parallel' {
        cpus   = 2
        memory = '4 GB'
    }
}


includeConfig 'env.config'
includeConfig 'containers.config'

